# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Env
venv/
.env

# Node
node_modules/
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env.local

# Docker
docker-data/

# Coverage
.coverage
htmlcov/

# Alembic
alembic/versions/__pycache__/

# Redis
dump.rdb